In [1]:
!pip install pycountry

Requirement already satisfied: pycountry in c:\users\sanyapy\anaconda3\lib\site-packages (22.3.5)
Requirement already satisfied: setuptools in c:\users\sanyapy\anaconda3\lib\site-packages (from pycountry) (58.0.4)

In [1]:
import pandas as pd
import numpy as np
import pycountry

In [2]:
data1 = pd.read_excel('data.xlsx', sheet_name='data.1')
data2 = pd.read_excel('data.xlsx', sheet_name='data.2')
data3 = pd.read_excel('data.xlsx', sheet_name='data.3')
calculations = pd.DataFrame(columns=['Country', 'Amount spent', 'Impressions', 'Visits', 'Emails', 'Paywalls', 'CPM', 'CTR', 'CPC', 'CR into email enter', 'CR into paywall view', 'CR into purchase', 'CPA', 'LTV', 'ROMI'])

print(data1)
print(data2)
print(data3)

    Country  Amount spent  Impressions       CPC
0        US  63060.797914      2852361  0.283405
1        GB  50269.942633      3415812  0.336126
2        CA  31997.487942      2027730  0.332459
3        AU  30479.267493      1587093  0.351261
4        IT   8993.274186      1342814  0.240822
..      ...           ...          ...       ...
199      TF      0.000000            1  0.000000
200      TH      0.000000           18  0.000000
201      UA      0.000000            2  0.000000
202      UG      0.000000            3  0.000000
203      VA      0.000000            3  0.000000

[204 rows x 4 columns]
                 Country  Visits  Emails  Paywalls
0        \tUnited States  185478   46841     21807
1       \tUnited Kingdom  116156   27626     15425
2               \tCanada   78908   19072     10236
3            \tAustralia   65970   15469      7919
4         \tSouth Africa   31354    7713      3363
..                   ...     ...     ...       ...
225            \tTokelau       2       0         0
226              \tSyria       2       0         0
227              \tNiger       2       0         0
228  \tWallis and Futuna       1       1         1
229              \tYemen       1       0         0

[230 rows x 4 columns]
                                   Order ID  Amount   Status Payment type  \
0      e6a7e8d5-68ab-40c3-989d-55fae7377981   29.99  settled    Recurring
1      6a2d5893-e002-43a8-90be-8efaa0f75706   29.99  settled    Recurring
2      e5b40680-a7db-48d4-b7e1-647a1bc770e0   29.99  settled    Recurring
3      5bc74fa9-382d-45ff-9966-a4b3e18cbe19   29.99  settled    Recurring
4      02c3abc0-a1de-4b48-ad88-355491be614d   29.99  settled    Recurring
...                                     ...     ...      ...          ...
27945  e431184a-d489-42ea-a244-14a83dcd75f2    0.99  settled        First
27946  686aae10-8d23-4d41-b5fa-bf876ff5c0f9    0.99  settled        First
27947  e24558db-ca91-4faa-b985-655bb0705885    0.99  settled        First
27948  02df7f2d-6fff-4bd6-a78b-71516ae44faf    0.99  settled        First
27949  e23640cf-5f80-4f71-8094-8b288f963d67    0.99  settled        First

                                    User ID          Created at Country  \
0      1fb9bb1a-033a-4043-8637-e292fb7c8d06 2023-02-26 23:18:51     ESP
1      c45a0551-b258-4663-b8a0-30b4528ed9e1 2023-02-26 22:43:51     USA
2      39ebc284-1854-44b6-b5a6-81eb39217125 2023-02-26 22:29:51     AUS
3      89e6fd1b-5736-461a-b40f-2e8de25ef078 2023-02-26 21:22:36     CAN
4      45d64ecd-f173-4ffa-a455-32273dea4e16 2023-02-26 20:04:35     CAN
...                                     ...                 ...     ...
27945  da1c41df-da2c-48a2-8c4b-ce2c7c8dba9e 2022-07-01 07:00:24     SWE
27946  dea92d33-9273-47e8-bae7-36e81ae8be75 2022-07-01 05:50:04     GBR
27947  b8faedd5-3b85-4937-b52d-444d1438c1d3 2022-07-01 03:59:10     CAN
27948  b65221c0-c544-4078-89f9-5e76d0b41ab0 2022-07-01 03:47:40     CAN
27949  d1fc4461-f22f-48ed-b6fb-081e5d3a4c76 2022-07-01 02:13:22     CAN

                    Product name
0      Monthly_timer_trial_29.99
1      Monthly_timer_trial_29.99
2      Monthly_timer_trial_29.99
3      Monthly_timer_trial_29.99
4      Monthly_timer_trial_29.99
...                          ...
27945  Monthly_timer_trial_29.99
27946  Monthly_timer_trial_29.99
27947  Monthly_timer_trial_29.99
27948  Monthly_timer_trial_29.99
27949  Monthly_timer_trial_29.99

[27950 rows x 8 columns]

In [3]:
data2['Country'] = data2['Country'].str.replace(r'^\t', '')

C:\Users\SanyaPy\AppData\Local\Temp/ipykernel_5932/3332682226.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data2['Country'] = data2['Country'].str.replace(r'^\t', '')

In [4]:
countries = {
    'Afghanistan': 'AF',
    'Albania': 'AL',
    'Algeria': 'DZ',
    'Andorra': 'AD',
    'Angola': 'AO',
    'Antigua and Barbuda': 'AG',
    'Argentina': 'AR',
    'Armenia': 'AM',
    'Australia': 'AU',
    'Austria': 'AT',
    'Azerbaijan': 'AZ',
    'Bahamas': 'BS',
    'Bahrain': 'BH',
    'Bangladesh': 'BD',
    'Barbados': 'BB',
    'Belarus': 'BY',
    'Belgium': 'BE',
    'Belize': 'BZ',
    'Benin': 'BJ',
    'Bhutan': 'BT',
    'Bolivia': 'BO',
    'Bosnia and Herzegovina': 'BA',
    'Botswana': 'BW',
    'Brazil': 'BR',
    'Brunei': 'BN',
    'Bulgaria': 'BG',
    'Burkina Faso': 'BF',
    'Burundi': 'BI',
    'Cabo Verde': 'CV',
    'Cambodia': 'KH',
    'Cameroon': 'CM',
    'Canada': 'CA',
    'Central African Republic': 'CF',
    'Chad': 'TD',
    'Chile': 'CL',
    'China': 'CN',
    'Colombia': 'CO',
    'Comoros': 'KM',
    'Congo (DRC)': 'CD',
    'Congo': 'CG',
    'Costa Rica': 'CR',
    'Ivory Coast': 'CI',
    'Croatia': 'HR',
    'Cuba': 'CU',
    'Cyprus': 'CY',
    'Czech Republic': 'CZ',
    'Denmark': 'DK',
    'Djibouti': 'DJ',
    'Dominica': 'DM',
    'Dominican Republic': 'DO',
    'Ecuador': 'EC',
    'Egypt': 'EG',
    'El Salvador': 'SV',
    'Equatorial Guinea': 'GQ',
    'Eritrea': 'ER',
    'Estonia': 'EE',
    'Swaziland': 'SZ',
    'Ethiopia': 'ET',
    'Fiji': 'FJ',
    'Finland': 'FI',
    'France': 'FR',
    'Gabon': 'GA',
    'Gambia': 'GM',
    'Georgia': 'GE',
    'Germany': 'DE',
    'Ghana': 'GH',
    'Greece': 'GR',
    'Grenada': 'GD',
    'Guatemala': 'GT',
    'Guinea': 'GN',
    'Guinea-Bissau': 'GW',
    'Guyana': 'GY',
    'Haiti': 'HT',
    'Honduras': 'HN',
    'Hungary': 'HU',
    'Iceland': 'IS',
    'India': 'IN',
    'Indonesia': 'ID',
    'Iran': 'IR',
    'Iraq': 'IQ',
    'Ireland': 'IE',
    'Israel': 'IL',
    'Italy': 'IT',
    'Jamaica': 'JM',
    'Japan': 'JP',
    'Jordan': 'JO',
    'Kazakhstan': 'KZ',
    'Kenya': 'KE',
    'Kiribati': 'KI',
    'Kosovo': 'XK',
    'Kuwait': 'KW',
    'Kyrgyzstan': 'KG',
    'Laos': 'LA',
    'Latvia': 'LV',
    'Lebanon': 'LB',
    'Lesotho': 'LS',
    'Liberia': 'LR',
    'Libya': 'LY',
    'Liechtenstein': 'LI',
    'Lithuania': 'LT',
    'Luxembourg': 'LU',
    'Madagascar': 'MG',
    'Malawi': 'MW',
    'Malaysia': 'MY',
    'Maldives': 'MV',
    'Mali': 'ML',
    'Malta': 'MT',
    'Marshall Islands': 'MH',
    'Mauritania': 'MR',
    'Mauritius': 'MU',
    'Mexico': 'MX',
    'Micronesia': 'FM',
    'Moldova': 'MD',
    'Monaco': 'MC',
    'Mongolia': 'MN',
    'Montenegro': 'ME',
    'Morocco': 'MA',
    'Mozambique': 'MZ',
    'Myanmar (Burma)': 'MM',
    'Namibia': 'NA',
    'Nauru': 'NR',
    'Nepal': 'NP',
    'Netherlands': 'NL',
    'New Zealand': 'NZ',
    'Nicaragua': 'NI',
    'Niger': 'NE',
    'Nigeria': 'NG',
    'North Korea': 'KP',
    'Macedonia': 'MK',
    'Norway': 'NO',
    'Oman': 'OM',
    'Pakistan': 'PK',
    'Palau': 'PW',
    'Palestine': 'PS',
    'Panama': 'PA',
    'Papua New Guinea': 'PG',
    'Paraguay': 'PY',
    'Peru': 'PE',
    'Philippines': 'PH',
    'Poland': 'PL',
    'Portugal': 'PT',
    'Qatar': 'QA',
    'Romania': 'RO',
    'Russia': 'RU',
    'Rwanda': 'RW',
    'Saint Kitts and Nevis': 'KN',
    'Saint Lucia': 'LC',
    'St. Vincent & Grenadines': 'VC',
    'Samoa': 'WS',
    'San Marino': 'SM',
    'Sao Tome and Principe': 'ST',
    'Saudi Arabia': 'SA',
    'Senegal': 'SN',
    'Serbia': 'RS',
    'Seychelles': 'SC',
    'Sierra Leone': 'SL',
    'Singapore': 'SG',
    'Slovakia': 'SK',
    'Slovenia': 'SI',
    'Solomon Islands': 'SB',
    'Somalia': 'SO',
    'South Africa': 'ZA',
    'South Korea': 'KR',
    'South Sudan': 'SS',
    'Spain': 'ES',
    'Sri Lanka': 'LK',
    'Sudan': 'SD',
    'Suriname': 'SR',
    'Sweden': 'SE',
    'Switzerland': 'CH',
    'Syria': 'SY',
    'Taiwan': 'TW',
    'Tajikistan': 'TJ',
    'Tanzania': 'TZ',
    'Thailand': 'TH',
    'East Timor': 'TL',
    'Togo': 'TG',
    'Tonga': 'TO',
    'Trinidad and Tobago': 'TT',
    'Tunisia': 'TN',
    'Turkey': 'TR',
    'Turkmenistan': 'TM',
    'Tuvalu': 'TV',
    'Uganda': 'UG',
    'Ukraine': 'UA',
    'United Arab Emirates': 'AE',
    'United Kingdom': 'GB',
    'United States': 'US',
    'Uruguay': 'UY',
    'Uzbekistan': 'UZ',
    'Vanuatu': 'VU',
    'Vatican City (Holy See)': 'VA',
    'Venezuela': 'VE',
    'Vietnam': 'VN',
    'Yemen': 'YE',
    'Zambia': 'ZM',
    'Zimbabwe': 'ZW',
    'Åland Islands': 'AX',
    'Bonaire, Sint Eustatius and Saba': 'BQ',
    'Cura√ßao' : 'CW',
    'Guernsey': 'GG',
    'Isle of Man': 'IM',
    'Jersey': 'JE',
    'Montenegro': 'ME',
    'Saint Barthélemy': 'BL',
    'Sint Maarten': 'SX',
    'South Georgia and the South Sandwich Islands': 'GS',
    'The Isle of Man': 'IM',
    'Turks and Caicos Islands': 'TC',
    'US Minor Outlying Islands': 'UM',
    'British Virgin Islands': 'VG',
    'U.S. Virgin Islands': 'VI',
    'Swaziland' : 'SZ',
    'R√©union': 'RE',
    'Caribbean Netherlands': 'BQ',
    'Macau' : 'MO',
    'Cape Verde' : 'CV',
    '√Öland Islands' :'AX',
    'Falkland Islands' : 'FK',
    'S√£o Tom√© and Pr√≠ncipe' : 'ST',
    'Saint Barth√©lemy' : 'BL',
    'Wallis and Futuna' : 'WF',
    'Hong Kong' :'HK',
    'Guam' : 'GU',
    'Bermuda' : 'BM' ,
    'Cayman Islands':'KY',
    'French Polynesia': 'PF',
    'Faroe Islands' :'FO',
    'Greenland' : 'GL',
    'American Samoa' : 'AS',
    'Guadeloupe' : 'GP',
    'Gibraltar':'GI',
    'Martinique':'MQ',
    'Cook Islands':'CK',
    'New Caledonia':'NC',
    'French Guiana': 'GF',
    'Northern Mariana Islands': 'MP',
    'Anguilla':'AI',
    'Puerto Rico':'PR',
    'Saint Pierre and Miquelon':'PM',
    'Montserrat' : 'MS',
    'Saint Martin' : 'SX',
    'Aruba':'AW',
    'Mayotte':'YT',
    'Norfolk Island':'NF',
    'Tokelau':'TK'
    
    
}

In [5]:
def convert_country_names(df):
    #  replace the name of the country with their abbreviation
    df['Country'] = df['Country'].apply(lambda x: countries.get(x, x))
    return df

In [7]:
data2 = convert_country_names(data2)

In [8]:
print(data2.isnull().values.any())

False

In [25]:
countries = list(pycountry.countries)
country_codes = [country.alpha_2 for country in countries]

In [10]:
def check_countries(df):
    # get a list of country abbreviations
    country_codes = [country.alpha_2 for country in list(pycountry.countries)]

    # Check if all values in the field 'Country' belong to the list of countries
    invalid_countries = df[~df['Country'].isin(country_codes)]['Country'].unique()

    if len(invalid_countries) > 0:
        print(f"Invalid values in the field 'Country': {invalid_countries}")
    else:
        print("All values in the 'Country' field are valid.")

In [27]:
check_countries(data3)

All values in the 'Country' field are valid.

In [12]:
import pycountry
def convert_alpha3_to_alpha2(country_alpha3):
    try:
        return pycountry.countries.get(alpha_3=country_alpha3).alpha_2
    except AttributeError:
        return None

In [13]:
data3['Country'] = data3['Country'].apply(convert_alpha3_to_alpha2)

In [14]:
data3.head()

,Order ID,Amount,Status,Payment type,User ID,Created at,Country,Product name
0,e6a7e8d5-68ab-40c3-989d-55fae7377981,29.99,settled,Recurring,1fb9bb1a-033a-4043-8637-e292fb7c8d06,2023-02-26 23:18:51,ES,Monthly_timer_trial_29.99
1,6a2d5893-e002-43a8-90be-8efaa0f75706,29.99,settled,Recurring,c45a0551-b258-4663-b8a0-30b4528ed9e1,2023-02-26 22:43:51,US,Monthly_timer_trial_29.99
2,e5b40680-a7db-48d4-b7e1-647a1bc770e0,29.99,settled,Recurring,39ebc284-1854-44b6-b5a6-81eb39217125,2023-02-26 22:29:51,AU,Monthly_timer_trial_29.99
3,5bc74fa9-382d-45ff-9966-a4b3e18cbe19,29.99,settled,Recurring,89e6fd1b-5736-461a-b40f-2e8de25ef078,2023-02-26 21:22:36,CA,Monthly_timer_trial_29.99
4,02c3abc0-a1de-4b48-ad88-355491be614d,29.99,settled,Recurring,45d64ecd-f173-4ffa-a455-32273dea4e16,2023-02-26 20:04:35,CA,Monthly_timer_trial_29.99

In [15]:
check_countries(data3)

All values in the 'Country' field are valid.

In [16]:
calculations = pd.merge(data1, data2, on='Country')


# CPM (Cost per mille)
calculations['CPM'] = (calculations['Amount spent'] / calculations['Impressions']) * 1000

# CTR (Click-through rate)
calculations['CTR'] = (calculations['Emails'] / calculations['Impressions']) * 100

# CPA (Cost per email acquisition)
calculations['CPA'] = calculations['Amount spent'] / calculations['Emails']

# CR into email enter (Conversion rate into email enter)
calculations['CR into email enter'] = (calculations['Emails'] / calculations['Visits']) * 100

# CR into paywall view (Conversion rate into paywall view)
calculations['CR into paywall view'] = (calculations['Paywalls'] / calculations['Visits']) * 100

# CR into purchase (Conversion rate into purchase)
calculations['CR into purchase'] = (calculations['Paywalls'] / calculations['Emails']) * 100

In [17]:
not_merged_data1 = data1[~data1['Country'].isin(calculations['Country'])]
not_merged_data2 = data2[~data2['Country'].isin(calculations['Country'])]

In [28]:
from datetime import datetime

transactions = data3[data3['Status'] == 'settled']
transactions = transactions[transactions['Payment type']=='Recurring'] #!

# Calculate lifespan for each user
user_lifespan = transactions.groupby('User ID')['Created at'].agg(['min', 'max'])
eq = ((user_lifespan['max'].eq(user_lifespan['min'])))
lifespan = []
for i, row in user_lifespan.iterrows():
    if row['max'] == row['min']:
        lifespan.append(1)
    else:
        lifespan.append((row['max'] - row['min'])/ np.timedelta64(1, 'M')+1)

user_lifespan['lifespan'] = lifespan


# Group transactions by country
country_groups = transactions.groupby('Country')

# Calculate the measured interval, avg transaction price, avg subscription, and avg lifetime for each country
country_metrics = []
for country, country_data in country_groups:
    
    avg_transaction_price = country_data['Amount'].sum() / country_data['Amount'].count()
    
    unique_users =  country_data['User ID'].nunique()
    
    avg_lifetime = user_lifespan[user_lifespan.index.isin(country_data['User ID'])]['lifespan'].mean()
    country_metrics.append({
        'Country': country,
        'Avg transaction price': avg_transaction_price,
        'unique users': unique_users,
        'Avg lifetime (months)': avg_lifetime
    })

# Convert country_metrics to a DataFrame and calculate the LTV for each country
country_metrics_df = pd.DataFrame(country_metrics)
country_metrics_df['LTV'] = country_metrics_df['Avg transaction price'] * (country_metrics_df['Avg lifetime (months)'])


print(country_metrics_df)

    Country  Avg transaction price  unique users  Avg lifetime (months)  \
0        AD                  29.99             1               1.985668
1        AE                  29.99            18               2.688407
2        AG                  29.99             1               6.914016
3        AL                  29.99             8               1.985669
4        AM                  39.99             6               1.000000
..      ...                    ...           ...                    ...
117      VN                  29.99             8               1.123209
118      VU                  29.99             1               6.355351
119      WS                  29.99             1               2.084211
120      ZA                  29.99            58               2.616147
121      ZW                  29.99             3               1.657113

            LTV
0     59.550189
1     80.625333
2    207.351341
3     59.550218
4     39.990000
..          ...
117   33.685027
118  190.596989
119   62.505493
120   78.458238
121   49.696812

[122 rows x 5 columns]

In [19]:
calculations = pd.merge(calculations, country_metrics_df, on='Country')

In [20]:
print(calculations)

    Country  Amount spent  Impressions       CPC  Visits  Emails  Paywalls  \
0        US  63060.797914      2852361  0.283405  185478   46841     21807
1        GB  50269.942633      3415812  0.336126  116156   27626     15425
2        CA  31997.487942      2027730  0.332459   78908   19072     10236
3        AU  30479.267493      1587093  0.351261   65970   15469      7919
4        IT   8993.274186      1342814  0.240822   25827    4504      2350
..      ...           ...          ...       ...     ...     ...       ...
109      IN      0.030000           13  0.030000     770     193       123
110      LB      0.000000            1  0.000000      50      17         7
111      MX      0.000000            1  0.000000     260      48        24
112      TH      0.000000           18  0.000000     242      63        39
113      UA      0.000000            2  0.000000     369     102        90

           CPM          CTR  CR into email enter       CPA  \
0    22.108281     1.642183            25.254208  1.346274
1    14.716835     0.808768            23.783532  1.819661
2    15.779955     0.940559            24.169919  1.677721
3    19.204462     0.974675            23.448537  1.970345
4     6.697334     0.335415            17.439114  1.996731
..         ...          ...                  ...       ...
109   2.307662  1484.615385            25.064935  0.000155
110   0.000000  1700.000000            34.000000  0.000000
111   0.000000  4800.000000            18.461538  0.000000
112   0.000000   350.000000            26.033058  0.000000
113   0.000000  5100.000000            27.642276  0.000000

     CR into paywall view  CR into purchase  Avg transaction price  \
0               11.757190         46.555368              29.790327
1               13.279555         55.835083              30.023091
2               12.972069         53.670302              29.917798
3               12.003941         51.192708              29.946663
4                9.099005         52.175844              29.729414
..                    ...               ...                    ...
109             15.974026         63.730570              29.990000
110             14.000000         41.176471              29.990000
111              9.230769         50.000000              29.990000
112             16.115702         61.904762              29.990000
113             24.390244         88.235294              29.990000

     unique users  Avg lifetime (months)         LTV
0            1878               3.261679   97.166500
1             619               2.455357   73.717403
2             635               3.088368   92.397169
3             585               3.217210   96.344718
4             127               2.461937   73.191942
..            ...                    ...         ...
109             4               3.464173  103.890559
110             1               1.000000   29.990000
111             3               4.614114  138.377292
112             1               1.985671   59.550269
113             3               3.628453  108.817297

[114 rows x 17 columns]

In [21]:
calculations['ROMI'] = (calculations['LTV']*calculations['unique users'] - calculations['Amount spent'])   / calculations['Amount spent']

In [22]:
calculations.replace([np.inf, -np.inf], np.nan, inplace=True)

In [23]:
calculations = calculations.sort_values(by='Amount spent', ascending=False)

In [24]:
print(calculations)

    Country  Amount spent  Impressions       CPC  Visits  Emails  Paywalls  \
0        US  63060.797914      2852361  0.283405  185478   46841     21807
1        GB  50269.942633      3415812  0.336126  116156   27626     15425
2        CA  31997.487942      2027730  0.332459   78908   19072     10236
3        AU  30479.267493      1587093  0.351261   65970   15469      7919
4        IT   8993.274186      1342814  0.240822   25827    4504      2350
..      ...           ...          ...       ...     ...     ...       ...
109      IN      0.030000           13  0.030000     770     193       123
110      LB      0.000000            1  0.000000      50      17         7
111      MX      0.000000            1  0.000000     260      48        24
112      TH      0.000000           18  0.000000     242      63        39
113      UA      0.000000            2  0.000000     369     102        90

           CPM          CTR  CR into email enter       CPA  \
0    22.108281     1.642183            25.254208  1.346274
1    14.716835     0.808768            23.783532  1.819661
2    15.779955     0.940559            24.169919  1.677721
3    19.204462     0.974675            23.448537  1.970345
4     6.697334     0.335415            17.439114  1.996731
..         ...          ...                  ...       ...
109   2.307662  1484.615385            25.064935  0.000155
110   0.000000  1700.000000            34.000000  0.000000
111   0.000000  4800.000000            18.461538  0.000000
112   0.000000   350.000000            26.033058  0.000000
113   0.000000  5100.000000            27.642276  0.000000

     CR into paywall view  CR into purchase  Avg transaction price  \
0               11.757190         46.555368              29.790327
1               13.279555         55.835083              30.023091
2               12.972069         53.670302              29.917798
3               12.003941         51.192708              29.946663
4                9.099005         52.175844              29.729414
..                    ...               ...                    ...
109             15.974026         63.730570              29.990000
110             14.000000         41.176471              29.990000
111              9.230769         50.000000              29.990000
112             16.115702         61.904762              29.990000
113             24.390244         88.235294              29.990000

     unique users  Avg lifetime (months)         LTV          ROMI
0            1878               3.261679   97.166500      1.893695
1             619               2.455357   73.717403     -0.092279
2             635               3.088368   92.397169      0.833650
3             585               3.217210   96.344718      0.849180
4             127               2.461937   73.191942      0.033592
..            ...                    ...         ...           ...
109             4               3.464173  103.890559  13851.254566
110             1               1.000000   29.990000           NaN
111             3               4.614114  138.377292           NaN
112             1               1.985671   59.550269           NaN
113             3               3.628453  108.817297           NaN

[114 rows x 18 columns]

In [77]:
calculations.to_excel('calculations.xlsx', index=False , sheet_name = 'calculations')